.customtable
{
    background-color: white;
    opacity: 0.8;
}

@import url(https://fonts.googleapis.com/css?family=Bangers);

.wrap {
    padding: 5em 0.5em;
    margin: 0 auto;
  }
  
h1, h2{
    text-align: center;
    font-weight: normal;
    color: #fff;
    text-transform: uppercase;
    font-size: 8em;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 1000;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);   
  }