<div class="container" *ngIf="response">

    <div class="row">
        <div class="col-md-12">
            <h1>Scoreboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <table class="table customtable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of response.Message.Data">
                        <td>{{player.Name}}</td>
                        <td>{{player.Score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>